---
---

@import '{{ site.theme }}';

hr {
	background-image: linear-gradient(to right, rgba(50, 50, 50, 0), rgba(50, 50, 50, 0.5), rgba(50, 50, 50, 0));
	margin-bottom: 20px;
}

figcaption {
	font-style: italic;
	font-size: 0.9em;
	text-align: center;
	padding: 5px;
	border: 1px lightgray solid;
}

figure {
	max-width: 600px;
	margin: auto;
	margin-bottom: 80px;

	& > img {
		vertical-align: middle;
	}
}

.social-links {
	float: right;
	& > a {
		color: white;
		font-size: 1.5em;
		&:hover {
			text-decoration: none;
		}
		&.rss:hover {
			color: 	#f26522;
		}
		&.twitter:hover {
			color: #00aced;
		}
		&.github:hover {
			color: black;
		}
		&.gmail:hover {
			color: #d44638;
		}
	}
}

.home-link {
	color: #159957;
	text-decoration: underline;
	& > i {
		margin-right: 10px;
	}
}

.dt-published {
	font-style: italic;
	padding-left: 10px;
}

.post-content {
	padding-top: 30px;
}

.center-image {
	margin: auto;
	display: block;
}
