---
---

@import '{{ site.theme }}';

.social-links {
	float: right;
	& > a {
		color: white;
		font-size: 1.5em;
		&:hover {
			text-decoration: none;
		}
		&.rss:hover {
			color: 	#f26522;
		}
		&.twitter:hover {
			color: #00aced;
		}
		&.github:hover {
			color: black;
		}
		&.gmail:hover {
			color: #d44638;
		}
	}
}

.home-link {
	color: #159957;
	text-decoration: underline;
	& > i {
		margin-right: 10px;
	}
}