---
layout: default
title: P
test:
  - poulet
  - prout

prout: Salut
---

<div class="home">
  {%- if page.title -%}
    <h1 class="page-heading">{{ page.title }}</h1>
  {%- endif -%}
  
  {%- if page.title -%}
    <p>{{ page.title }}</p>
  {%- endif -%}

  {%- for t in page.test -%}
  <li>
    <p>{{t}}</p>
  </li>
  {%- endfor -%}

  {{ content }}

  {%- if site.posts.size > 0 -%}
    <h2 class="post-list-heading">{{ page.list_title | default: "Posts" }}</h2>
    <ul class="post-list">
      {%- for post in site.posts -%}
      <li>
        <span class="post-meta">{% include date.html date=post.date %}</span>
        <h3>
          <a class="post-link" href="{{ post.url | relative_url }}">
            {{ post.title | escape }}
          </a>
        </h3>
        {%- if site.show_excerpts -%}
          {{ post.excerpt }}
        {%- endif -%}
      </li>
      {%- endfor -%}
    </ul>

  {%- endif -%}

</div>
